.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


h2{
  font-size:48px;
}
.aboutMeContainer{
  display:grid;
  grid-template-columns: 600px 300px;
  align-items: center;
  justify-content: center;
  padding:50px;
}
.aboutImg{
  border-radius: 50%;
  width:'500px';
  height:500px;
}
.paragraphToPicturePadding{
  padding-right:50px;
}
.pictureToParagraphPadding{
  padding-left:50px;
}
.resumeDownloadables{
  display:flex;
  justify-content: space-between;
  padding: 0 180px 0 180px
}
.skillsContent{
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}
.aboutImg{
  border-radius: 50%;
  width:500px;
  height:500px;
}
.navFontSize{
  font-size: 20px
}
.aboutMeContainerP{
  font-size: 20px;
}
.header{
  font-size:48px;
}
.workExperienceImgContainer{
  width:25%;
  padding-top:20px;
}
.totalContainer{
  width:50%;
}
.experienceCard{
  display:flex;
  width:100%;
  height:250px;
}
.projectCard{
  display:flex;
  width: 100%;
}
.projectTitle{
  display:flex;
  justify-content: start;
}
.projectTitleContainer{
  width:75%;
  padding-left: 20px;
}
.projectImgContainer{
  width:25%;
}
.projectImgStyling{
  width:350px;
  height:200px;
}

@media screen and (max-width: 370px) {
  .aboutImg {
    height: 200px !important;
    width: 200px !important;
  }
}

@media screen and (max-width:340px){
  .navFontSize{
    font-size: 10px;
  }
}
@media screen and (max-width:400px){
  .skillsContent{
    font-size: 12px;
  }
  .h1{
    font-size: 40px;
  }

}
@media screen and (max-width:470px){
  .navFontSize{
    font-size: 14px;
  }
  .aboutMeContainerP{
    font-size: 12px;
  }
  .header{
    font-size: 36px;
  }
  .projectImgStyling{
    width:0px;
    height:0px;
  }
}
@media screen and (max-width:780px){
  .experienceCard{
    display:table;
  }
  .workExperienceImgContainer{
    align-items: center;
    text-align: center;
    justify-self: center;
    width:100%;
  }
}


@media screen and (max-width:1420px){
  .aboutMeContainer{
    display:block;
    padding: 50px;
  }
  .paragraphToPicturePadding{
    padding-right:0px;
  }
  .pictureToParagraphPadding{
    padding-left:0px;
  }
  h2{
    font-size: 40px;
  }
}
@media screen and (max-width:540px){
  .aboutMeContainer{
    padding: 20px;
  }
}
@media screen and (max-width:850px){
  .resumeDownloadables{
    display:contents;
  }
  .skillsContent{
    margin-left: 5%;
    margin-right: 5%;
  }
  .aboutImg{
    height:300px;
    width:300px;
  }
  .totalContainer{
    width:75%;
  }
  .projectCard{
    display:contents;
  }
  .projectTitle{
    display: contents;
  }
  .projectImgContainer{
    width:100%;
  }
  .projectTitleContainer{
    width:100%;
    padding-left:0px;
  }
}
